.sidebar {
  transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out;
  background: #003660;
  border-right: 0;

  @media (min-width: 480px) {
    min-width: 240px;
    max-width: 240px;
    left: 0;
    min-height: 100%;
    position: absolute;
  }

  &.local,
  &.dev {
    background: #c43424; // Color in Dev
    .sidebar-collpase-button:hover,
    .sidebar-header:hover,
    .sidebar-link:hover {
      background: #ce4a57;
    }
  }
  &.test {
    background: #c58a4e; // Color in Test
    .sidebar-collpase-button:hover,
    .sidebar-header:hover,
    .sidebar-link:hover {
      background: #ffc10742;
    }
  }
}
.sidebar-collapse {
  width: 50px;
  .sidebar-brand,
  .sidebar-nav {
    display: none;
  }
}

.sidebar-collapse-button {
  padding: 0px 5px 10px 5px;
}
.sidebar-content {
  background: #003660;
  transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out;
}

.scrollbar-container {
  position: relative;
  max-height: 100vh;
  width: 100%;
  display: flex;
  overflow: auto;
}

.sidebar-brand {
  font-weight: 400;
  font-size: 1.15rem;
  padding: 1.15rem 1.5rem;
  color: #ffffff;
  display: inline-block;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0.2rem;
  width: 100%;
}

.sidebar-header {
  display: block;
  padding: 12px 24px;
  text-align: left;
  color: #ffffff;

  a,
  a:hover {
    color: #ffffff;
    text-decoration: none;
  }

  span {
    cursor: pointer;
    display: block;

    &:after {
      content: " ";
      border: solid;
      border-width: 0 0.1rem 0.1rem 0;
      padding: 2px;
      transform: rotate(45deg);
      margin: 2px;
      float: right;
      transition: all 0.2s ease-out;
    }
  }
  span[aria-expanded="true"]:after {
    transform: rotate(-135deg);
    top: 1.4rem;
  }
}

.sidebar-link {
  font-size: 14px;
  padding: 0.5rem 1rem 0.5rem 2.25rem;
  color: #ffffff;
  display: block;
}

.sidebar-collpase-button:hover,
.sidebar-header:hover,
.sidebar-link:hover {
  color: #e9ecef;
  background: #2d3646;
  font-weight: 400;
  text-decoration: none;
}
.sidebar-collapsed .sidebar-collpase-button:hover {
  background: #04859b;
  color: #ffffff;
}
.sidebar-collpase-button {
  cursor: pointer;
  padding: 0 5px 10px 5px;
  &:hover {
    background: #2d3646;
  }
}

.sidebar-collapsed {
  .sidebar-collpase-button {
    position: relative;
    &:hover {
      background: #04859b;
      color: #ffffff;
    }
  }
  .sidebar-brand,
  .sidebar-nav {
    display: none;
  }
}
