body {
  overflow-y: scroll;
  height: 100%;
  background-color: rgb(250, 250, 250);
}

html,
#root {
  height: 100%;
  font-family: avenir-book, sans-serif;
  font-size: 16px;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
  min-height: 100%;
}

.content {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

main {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content a {
  color: #005aa3;
}

.no-padding {
  margin: -2.5rem;
}

th {
  white-space: nowrap;
}

.expanded .margin-header {
  margin-left: 0px;
}

@media (min-width: 480px) {
  .margin-header {
    margin-left: 240px;
    margin-top: 66px;
    height: 90%;
  }
}

.data-grid-responsive {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  @media (min-width: 480px) {
    height: 75vh;
  }
}
